body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #2a3335;
    font-size: 2.5rem;
    margin-top: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    animation: fadeIn 2s ease-in-out; /* Nombre y duración de la animación */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px); /* Inicia desde arriba */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Llega a su posición original */
    }
}


form {
    max-width: 400px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input, textarea, button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    cursor: pointer;
    background-color: #222930;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(imagen1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
}